@model IEnumerable<EntityLayer.Class.Movie>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Home Page";
}
<link href="~/css/site2.css" rel="stylesheet" />
<div class="slider sliderv2">
	<div class="container">
		<div class="row">
			<div class="slider-single-item">
				@foreach (var item in Model)
				{
					<div class="movie-item">

						<div class="row">
							@{
								var categoryNames = new HashSet<string>();
								var colors = new List<string> { "blue", "orange", "yell", "green" };
								int colorIndex = 0;
							}
							<div class="col-md-8 col-sm-12 col-xs-12">
								<div class="title-in">
									
										<div class="cate">
										@foreach (var category in item.MovieCategories)
										{
											@if (!categoryNames.Contains(category.categorys.CategoryName))
											{
											categoryNames.Add(category.categorys.CategoryName);
												<span style="margin-right:5px" class="@colors[colorIndex % colors.Count]">
													<a href="/Movies/CategoryWithMovies/@category.categorys.CategoryId">@category.categorys.CategoryName</a>
												</span>
											colorIndex++;
											}
										}
										</div>
									
									
									<h1>
										<a>
											@item.MovieName <span>@(((DateTime)item.ReleaseDate).ToString("yyyy"))</span>
										</a>
									</h1>
									<div class="social-btn">
										<a href="https://www.youtube.com/embed/@item.VideoLink" class="parent-btn"><i class="ion-play"></i> Watch Trailer</a>
										<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
										<div class="hover-bnt">
											<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
											<div class="hvr-item">
												<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
												<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
												<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
												<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
											</div>
										</div>
									</div>
									<div class="mv-details">
										@{
											int? totalvote = 0;
											int? totalscore = 0;
											@foreach (var review in item.Reviews)
											{
												totalvote++;
												totalscore = totalscore + review.VoteGiven;

											}
											double? averagescore = 0;
											@if (totalvote == 0)
											{
												averagescore = 0;
											}
											else
											{
												averagescore = totalscore / totalvote;
											}
										}
										<p><i class="ion-android-star"></i><span>@averagescore</span> /10</p>


										<ul class="mv-infor">
											<li>  @item.MovieRunTime </li>
											<li>  @item.ReleaseCountry  </li>
											<li>  @item.ReleaseDate</li>
										</ul>
									</div>
									<div class="btn-transform transform-vertical">
										<div><a href="/Movies/Details/@item.MovieId" class="item item-1 redbtn">more detail</a></div>
										<div><a href="/Movies/Details/@item.MovieId" class="item item-2 redbtn hvrbtn">more detail</a></div>
									</div>
								</div>
							</div>


							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="mv-img-2">
									<a href="/Movies/Details/@item.MovieId"><img class="movie-picture-container" src="@item.MoviePicture" /></a>
								</div>
							</div>
						</div>

					</div>
				}
			</div>
		</div>
	</div>
</div>
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>on cinema</h2>
				<a href="/Movies/Index" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<ul class="tab-links-2">
					<li class="active"><a href="#tab21-h2">#Popular</a></li>
					<li><a href="#tab22-h2"> #Coming soon</a></li>
					<li><a href="#tab23-h2">  #Top rated  </a></li>
					<li><a href="#tab24-h2"> #Most reviewed</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab21-h2" class="tab active">
						<div class="row">
							<div class="slick-multiItem2">
								@foreach (var movie in Model)
								{
									<div class="slide-it">
										<div class="movie-item">
											<div class="mv-img">
												<img style="height:300px; width: 250px;" src="@movie.MoviePicture" alt="">
											</div>
											<div class="hvr-inner">
												<a href="/Movies/Details/@movie.MovieId"> Read more <i class="ion-android-arrow-dropright"></i> </a>
											</div>
											<div class="title-in">
												<h6><a href="#">@movie.MovieName</a></h6>
												@{
													int? totalvote = 0;
													int? totalscore = 0;
													@foreach (var review in movie.Reviews)
													{
														totalvote++;
														totalscore = totalscore + review.VoteGiven;

													}
													double? averagescore = 0;
													@if (totalvote == 0)
													{
														averagescore = 0;
													}
													else
													{
														averagescore = totalscore / totalvote;
													}
												}
												<p><i class="ion-android-star"></i><span>@averagescore</span> /10</p>
											</div>
										</div>
									</div>
								}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="trailers full-width">
	<div class="row ipad-width">
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="title-hd">
				<h2>in theater</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="videos">

				<div class="slider-for-2 video-ft">
					@foreach (var movie in Model)
					{
						<div>
							<iframe class="item-video" src="https://www.youtube.com/embed/@movie.VideoLink"></iframe>
						</div>
					}

				</div>
				<div class="slider-nav-2 thumb-ft">
					@foreach (var movie in Model)
					{
						<div class="item">
							<div class="trailer-img">
								<img src="@movie.MoviePicture" alt="@movie.MovieName" width="350" height="200">
							</div>
							<div class="trailer-infor">
								<h4 class="desc">@movie.MovieName</h4>
								<p>@movie.MovieRunTime Minute</p>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		@* <div class="col-md-3 col-sm-12 col-xs-12">
		<div class="sidebar">
		<div class="celebrities">
		<h4 class="sb-title">Spotlight Celebrities</h4>
		<div class="celeb-item">
		<a href="#"><img src="~/Film-Review-Movie-Database/images/uploads/ava1.jpg" alt="" width="70" height="70"></a>
		<div class="celeb-author">
		<h6><a href="#">Samuel N. Jack</a></h6>
		<span>Actor</span>
		</div>
		</div>
		<div class="celeb-item">
		<a href="#"><img src="~/Film-Review-Movie-Database/images/uploads/ava2.jpg" alt="" width="70" height="70"></a>
		<div class="celeb-author">
		<h6><a href="#">Benjamin Carroll</a></h6>
		<span>Actor</span>
		</div>
		</div>
		<div class="celeb-item">
		<a href="#"><img src="~/Film-Review-Movie-Database/images/uploads/ava3.jpg" alt="" width="70" height="70"></a>
		<div class="celeb-author">
		<h6><a href="#">Beverly Griffin</a></h6>
		<span>Actor</span>
		</div>
		</div>
		<div class="celeb-item">
		<a href="#"><img src="~/Film-Review-Movie-Database/images/uploads/ava4.jpg" alt="" width="70" height="70"></a>
		<div class="celeb-author">
		<h6><a href="#">Justin Weaver</a></h6>
		<span>Actor</span>
		</div>
		</div>
		</div>
		</div>
		</div> *@
	</div>

</div>
<!-- latest new v2 section-->
<div class="latestnew full-width">
	<div class="row">
		<div class="col-md-9">
			<div class="title-hd">
				<h2>Latest news</h2>
				<a href="/News/Index/" class="viewall">see all news <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="latestnewv2">
				@foreach (var news in ViewBag.News)
				{
					<div class="blog-item-style-2">
						<a href="/News/Details/@news.NewsId"><img src="@news.NewsPicture" alt=""></a>
						<div class="blog-it-infor">
							<h3><a href="/News/Details/@news.NewsId">@news.NewsTitle</a></h3>
							<span class="time">@(((DateTime)news.SendingDate).ToString("dd-MMMM-yyyy"))</span>
							<p>@((news.NewsContent.Length > 200) ? news.NewsContent.Substring(0, 200) + "..." : news.NewsContent)</p>
						</div>
					</div>
				}

			</div>
		</div>
	</div>

</div>
<!--end of latest new v2 section-->
