@model EntityLayer.Class.Review_News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Review_News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.users.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visibility)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Review_NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
