@model IEnumerable<EntityLayer.Class.Review_News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visibility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.users.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Review_NewsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Review_NewsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Review_NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
