@model EntityLayer.Class.Movie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/site.css" rel="stylesheet" />
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovieName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovieName)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovieContent)
            </dt>
            <dd class="col-sm-10">
                <textarea class="textarea" readonly>@Html.DisplayFor(model => model.MovieContent)</textarea>
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MoviePicture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MoviePicture)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VideoLink)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VideoLink)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseCountry)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovieRunTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovieRunTime)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                Casts
            </dt>
            <dd class="col-sm-10">
                @if (Model.MovieCasts != null && Model.MovieCasts.Any())
                {
                    <ul>
                        @foreach (var cast in Model.MovieCasts)
                        {
                            <li>@cast.casts.CastName @cast.casts.CastSurname</li>
                        }
                    </ul>
                }
                else
                {
                    <span>NULL</span>
                }
            </dd>
        </div>
        <div class="col-sm-12">
            <dt class="col-sm-2">
                Categories
            </dt>
            <dd class="col-sm-10">
                @if (Model.MovieCategories != null && Model.MovieCategories.Any())
                {
                    <ul>
                        @foreach (var category in Model.MovieCategories)
                        {
                            <li>@category.categorys.CategoryName</li>
                        }
                    </ul>
                }
                else
                {
                    <span>NULL</span>
                }
            </dd>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MovieId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>
