@model IEnumerable<EntityLayer.Class.Review>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendingDate)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ReviewId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReviewId">Delete</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ReviewId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
