@model IEnumerable<EntityLayer.Class.Review>

@{
    ViewData["Title"] = "ListRejectedReviews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendingDate)
            </td>
            <td>
                    <a asp-action="UndoReview" class="btn btn-info" asp-route-id="@item.ReviewId">Undo</a>
            </td>
        </tr>
}
    </tbody>
</table>
